default_bit = 4096
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName             = UK
stateOrProvinceName     = London
localityName            = London
organizationName        = SecTest
commonName              = *.sectest.pt
